p.intro {
  width: 50%;
  font-style: italic;
}

img {
  width: 400px;
  length: 700px;

}
h1 {
  text-align: center;
  color: red;
  font-size: 300%;
  font-weight: bold;
}
h2 {
  text-align: center;
  color: yellow;
  font-size: 300%;
  font-style: italic;
}

.flashy {
  color: red;
  font-style: italic;

}
.best {
  font-weight: bolder;
  font-size: 500%;


}
}
